body {
	background-color: #333333;
	color: black;
}

.module {
	background-color: #efefef;
	min-height: 100px;
	padding: 1%;
	margin-top: 10px;
	margin-bottom: 20px;
}

#logout {
	float: right;
}

.transactions{
	overflow: scroll;
}

.account-list{
	overflow: scroll;
	padding-left: 20px;
}

.account-list table {
	width: 100%;
}
.account-list td {
	padding: 0 10px;
}
.account-data:hover {
	background-color: #C0C0C0;
	color: white;
	cursor: pointer;
}

h1,h3{
	color: #efefef;
	font-family: 'Muli', sans-serif;
}

#chartdiv {
	width	: 100%;
	height	: 500px;
}

.upload{
	text-align: center;
}

.login-container {
	padding: 10%;
}

.login-outer {
	padding: 9.5em 2em;
}

.login-module {
	max-width: 400px;
	margin: auto;
}

.login-module input {
	background-color: #efefef;
}

#transactions {
	max-height: 20em;
	overflow: scroll;
}
#transactions table {
	width: 100%;
}
#transactions thead {
	background-color: #C0C0C0;
	width: 100%;
}
#transactions td, th {
	padding-left: 1em;
	min-width: 5em;
}

.clickable:hover, .clickable:active{
	background-color: #F0F0F0;
	cursor: pointer;
}

#loginResult {
	color: red;
}
/*
.login-module {
	position: absolute;
	left: 35%;
	top: 35%;
	margin: auto;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}
*/
.amChartsCompareList div{
	min-height: 20px;
	box-sizing: default;
	-webkit-box-sizing: default;
}


.amChartsInputField div{
	min-height: 150px;
	box-sizing: default;
	-webkit-box-sizing: default;
}
